[2013-07-17 13:18] quexer opened #3 "Login error in v1.6.0"
connect to sql server 2008 fails. the same code works in v1.5.4

below is code in  "test.py"

[code]

run it with

`python test.py --host host --db dbname --user user --passwd pass`

get these error :

[code]

[2013-07-29 15:08] mburbea opened #4 "as_dict flag on connection causes cursor fetch methods to have values that are none."
The processrow method never updates column.value as a result the dictionaries produced always have a value of `None`.
A potentional fix in tds.py line 2543::

[code]

That way curcol.value is populated, so that the dictionary has a usable result set.

[2013-07-29 15:20] mburbea opened #5 "Calling a procedure that yields multiple result sets and has a transaction fails."
I'm trying to call a procedure that does some work and returns multiple result sets. But cursor.callproc fails with the following error message when you try to iterate the results.

[code]

Here is an example stored procedure to try this with.

[code]

[2013-07-29 16:06] mburbea opened #6 "Add support for sending parameters as varchar (either via switch or type based)"
The `make_param` method never will make a parameters type varchar.
This is problematic as if you are using a query that seeks against an indexed varchar column, sql server will opt to convert the column to nvarchar rather than converting the parameter to varchar.
e.g.

[code]

Should use the index on name, but will not. I will have to explicitly convert the parameter to varchar.

I propose that if

[2013-08-11 01:56] #4 closed, assigned to denisenkom

[2013-08-11 04:35] #6 closed, assigned to nobody

[2013-08-12 23:32] #5 closed, assigned to nobody

[2013-08-15 23:20] diegueus9 opened #7 "AttributeError: type object 'Float' has no attribute 'from_stream'"
I installed [django-sqlserver](https://bitbucket.org/cramm/django-sqlserver/overview) and pytds to work with a database in SQL Server 2005. When I ran the command `inspectdb` I got this:

[code]

[2013-08-16 06:59] AlexzAK opened #9 "Error "'_TdsSession' object has no attribute 'send_cancel'" during Django test database creation"
I got this error when Django tries to recreate test database

$  python ./manage.py test  -v3

Creating test database for alias 'mssql' ('database_name_test')...
Got an error creating the test database: '_TdsSession' object has no attribute 'send_cancel'
Type 'yes' if you would like to try deleting the test database 'database_name_test', or 'no' to cancel: yes
Destroying old test database 'default

[2013-08-17 15:33] #7 closed, assigned to nobody

[2013-08-21 04:59] denisenkom opened #10 "Report sizes for relevant field types in description property"
Currently for nvarchar (and other) fields pytds reports None

[2013-08-26 11:47] #3 closed, assigned to nobody

[2013-09-12 19:46] pdunnigan opened #11 "server login - make instance name check case insensitive"
Instance names on MSSQL are typically in upper case. However they are case insensitive on Windows. With pytds the code that checks that the instance name is valid on the server performs the check case-sensitive.

dbapi.py, line 137:

[code]

maybe something along these lines:

[code]

[2013-09-13 01:53] #11 closed, assigned to denisenkom

[2013-09-13 01:54] #10 closed, assigned to denisenkom

[2013-09-13 02:01] #9 closed, assigned to nobody

[2013-09-18 01:49] denisenkom opened #12 "After some errors transaction is not restarted"
For example if CREATE TABLE fails because there is already such table in a database transaction is not restarted, effectively switching connection into autocommit mode

[2013-09-18 02:17] #12 closed, assigned to denisenkom

[2013-11-06 21:25] mburbea opened #15 "Support table-value parameters?"
Is there any plan to support table-valued parameters?
Currently, I have an process that reads and builds a dataset and then serializes it and stores one row of data at a time in a loop. This was fine when the amount of data was small, but now that I have moved to production I process about 10,000 records the chattiness and the performance of the execution is becoming too slow for a good real time

[2013-11-12 20:40] niphlod opened #16 "use relative imports always"
Hi, I'm trying this module and found out that there are a few places where relative imports are skipped are preventing a successfull connection, if the module is not installed with pip (hence, in sys.path)

e.g. in dbapi.py , there are a few

[code]

that could be replaced with

[code]

This should "enable" working with pytds when used as a non-installed package...

[2013-11-14 13:13] seibert opened #17 "Missing values when retrieving row as dictionary"
When using pytds to retrieve rows as dictionaries from a SQL Server 2008 R2 system, I ran into a problem where the values in the returned dictionary were all None.

The patch shown here seems to fix the bug:

https://github.com/seibert/pytds/commit/8e6d8576ffcd1690315109b7d915fb022512ddea

However, I have no idea if this is an appropriate fix in general.  I am happy to issue a pull request if this

[2013-11-14 17:27] denisenkom opened #18 "Unexpected error when load balancer returns empty list"
local variable 'err' referenced before assignment

[2013-12-10 22:05] #16 closed, assigned to denisenkom

[2013-12-15 22:31] #17 closed, assigned to nobody

[2014-03-04 03:10] since19861019 opened #21 "python3 str error"
Calling connect() without specifying 'port'  causes an error in Python 3.

import pytds
conn = pytds.connect(server,db,user,password)
...
File "/Library/Frameworks/Python.framework/Versions/3.3/lib/python3.3/site-packages/pytds/tds.py", line 3681, in tds7_get_instances
    s.sendto('\x03', (ip_addr, 1434))
TypeError: 'str' does not support the buffer interface

Version = 1.6.11

[2014-03-04 03:23] since19861019 opened #22 "SQL Express default instance name."
The default instance name of SQL Server Express is 'SQLEXPRESS' rather than 'MSSQLServer'. So, connecting to 'Express' edition of SQL Server without instance name causes  'invalid instance name' error.
This may be a 'read me' issue.

[2014-03-04 19:40] #22 closed, assigned to nobody

[2014-03-07 02:32] #21 closed, assigned to nobody

[2014-03-14 18:05] sp1d3rx opened #23 "automatic rollback on sql2000?"
I have some code which accesses a sql 2000 database.
Here's the basics.

[code]

What happens is the data isn't updated. It's rolled back immediately after executing. After that, PYTDS starts a transaction and then immediately commits it, essentially doing nothing.

The only way to get PYTDS to actually commit is to turn on autocommit. However, I don't want to do that. I want to count the affected

[2014-03-17 18:02] #23 closed, assigned to nobody

[2014-03-21 15:26] pdunnigan opened #24 "version 1.6.12 error no attribute 'total_seconds' on py2.6"
In attempting to use pytds 1.6.12 on Python 2.6 (centos, red hat), we encountered the following error when attempting to establish a connection:

[code]

The offending code is actually in tds.py. datetime.timedelta.total_seconds was introduced in Py2.7.

In the current master branch, there is a workaround in tds.py, a total_seconds function that is called that calculates the delta in seconds. Plea

[2014-03-22 22:31] #24 closed, assigned to nobody

[2014-04-24 12:09] jordanorc opened #25 "Support SSL"
When I try to connect to Windows Azure SQL, it raises the following exception:

[code]

Changing line 3199 on file tds.py from:

[code]

to:

[code]

Solves the issue. But then I get the following error:

[code]

Has anyone had success when connecting to Azure using pytds?

[2014-08-08 20:10] denisenkom opened #31 "query_timeout gets overridden by login_timeout"
Create connection:
connect(..., timeout=2)
try to execute slow query, it will not timeout in 2 seconds, instead it will timeout according to login_timeout which is 60 by default.

[2014-08-20 17:14] sp1d3rx opened #33 "does not support DSN"
Needs to support DSN syntax. Otherwise it's not dbapi 2.0 compliant.

I would suggest you use dsnparse as that will make it easy.

[2014-08-20 19:06] sp1d3rx opened #34 "error when trying to use in web2py"
so I wanted to use pytds in web2py so that i can switch my web2py instance to pypy. So I changed the dal.py to connect using pytds (in the appropriate place)...

[code]

that seems to be the right place to change it. I get a ticket (web2py's tracebacks) that says this:

Traceback (most recent call last):
  File "C:\Temp\web2py_src\web2py\gluon\restricted.py", line 220, in restricted
    exec ccode

[2014-09-24 19:45] yousseb opened #35 "Django 1.7"
Thank you for PyTDS. It made my life tons easier.
You may want to link to https://github.com/yousseb/django_pytds - a port of  django-mssql that works on Django 1.7.

[2014-10-23 23:03] #35 closed, assigned to nobody

[2014-10-23 23:04] #34 closed, assigned to nobody

[2014-10-23 23:04] #18 closed, assigned to denisenkom

[2014-10-23 23:20] #31 closed, assigned to nobody

[2014-11-25 18:31] denisenkom opened #37 "Error in v 1.7.3.1"
[code]

[2014-12-05 21:46] VFLashM opened #38 "reading cursor.return_value breaks fetches"
User calls stored procedure with callproc.
Stored procedure returns resultset and return value.
If return value is read before resultset, resultsset is always empty.
It's not clear to me if it can be fixed easily. I suppose it should be at least asserted.

[code]

[2014-12-11 17:43] denisenkom opened #39 "Improve output parameters"

[2014-12-11 17:43] denisenkom opened #40 "Add docs how to run tests"

[2014-12-17 01:57] kenttregenza opened #42 "AppEngine support"
Great library.... would be even better to have this official support/work the Google AppEngine environment.

I have already made changes to get it going but not sure how to submit a pull request for you. Basically you need to modify the tds.py to
1. USE_CORK = False (AppEngine doesn't support TCP_CORK)
2. Convert bytearray to str for _sock.sendall in _write method  (AppEngine doesn't support bytea

[2015-02-04 19:29] #38 closed

[2015-02-24 01:52] denisenkom commented on #42
Why can't you create a pull request?

[2015-04-03 21:55] bradleyy commented on #37
I'm running into something quite similar, just with a slightly different code path to the unpack_from failure.

Any hints on what might be causing this, or workarounds?

[2015-04-07 01:51] denisenkom commented on #37
Can you reproduce this problem?

[2015-04-07 19:23] bradleyy commented on #37
I can definitely reproduce; a certain set of queries over certain (large-ish) datasets will reliably cause it.

[2015-04-08 14:47] bradleyy commented on #37
Slightly edited for clarity and privacy. Shows the error; this same code works fine on most datasets (I have a lot of similar databases), but I get this consistently on some of the datasets. It seems to be related to size, but not sure if it is related or causative.

File "<proj directory>/lib/python2.7/site-packages/django/db/utils.py", line 101, in inner
    return func(*args, **kwargs)
  File "

[2015-04-08 17:09] bradleyy commented on #37
Further update: this seems to actually be related to a timeout. I did a gruesome hack, doing the equivalent of socket.settimeout(900) on every read (since this was just meant to be a quick test). This "fixed" the issue above.

[2015-04-26 14:42] denisenkom commented on #37
Is it failing in a middle of a recordset, or at the very beginning?

[2015-04-26 20:20] bradleyy commented on #37
It was failing in the middle; but after changing the socket timeout to a much longer value (the DB in question is physically distant, and some of the queries are large) fixed the issue for me.

[2015-05-20 01:12] kenttregenza commented on #42
Sorry for delay... been a while off on other work. I'll fork the project and do a pull request if you still would like one.

[2015-09-03 16:36] Ashald opened #50 "pytds fails on string decode (wrong server encoding detection?)"
While the MS SQL Server DB's collation is `Latin1_General_BIN` pytds is trying to use `cp1252` collation for decoding which doesn't seem right to me.

Other possible cause is so-known [Double Mis-Encoding] (http://www.i18nqa.com/debug/bug-double-conversion.html), which, I guess would be nice to handle to by using either `ignore` or `replace` error schema for decoding.

[code]

[2015-09-13 03:00] denisenkom commented on #50
8D doesn't present in both Latin1 (https://en.wikipedia.org/wiki/ISO/IEC_8859-1) and cp1252 (https://en.wikipedia.org/wiki/Windows-1252), so the problem is probably with the data in the table.

[2015-09-24 18:47] joshuahlang opened #51 "Would really like a new release of pytds!"
EDIT: It seems I was mistaken, and passing a NULL VARBINARY is supported in the current released version of pytds. It just isn't documented in that version. Even still, a new release of pytds would be appreciated!

The latest version of pytds on pypi is great, but doesn't support passing NULL for VARBINARY parameters. The new version seems to (see below). Would it be possible to get a release to p

[2015-09-25 21:33] tpow opened #52 "Version number inconsistent"
Pip says I have 1.7.3.1 installed, but python import pytds; help(pytds) reports  1.7.0. I think this is due to the __version__ in __init__.py. Perhaps it needs to pull something from version.py?

[2015-10-19 01:39] denisenkom commented on #51
Released as version 1.8.0

[2015-10-19 01:39] #51 closed

[2015-10-19 01:39] denisenkom commented on #52
Fixed in new version 1.8.0

[2015-10-19 01:39] #52 closed

[2015-10-19 09:48] g1itch opened #54 "Cannot build 1.8.0 with python-3.4 from pypi zip"
Got following
[code]

I think the problem is that there is no .git directory in pypi zip:
[code]

In read_release_version()
[code]

[2015-10-20 01:39] denisenkom commented on #54
Fixed in v 1.8.1

[2015-10-20 01:39] #54 closed

[2015-10-22 16:12] bradleyy commented on #37
Still getting this. Don't seem to have a reliable repro; I'm still thinking it's related to a timeout.

[2016-01-26 16:03] peterdemin opened #55 "Circular reference between Connection and Cursor"
Each cursor stores reference to it's connection. And each connection stores reference to active (Connection._active_cursor) cursor. Both classes define __del__ method. This makes them noncollectable objects (https://docs.python.org/2/library/gc.html#gc.garbage). Which leads to memory leak.

[2016-01-31 02:37] denisenkom commented on #55
Looks like cursor and connection objects don't need __del__ methods at all, I removed those methods.

[2016-01-31 02:37] #55 closed

[2016-01-31 02:37] #50 closed

[2016-01-31 02:44] denisenkom commented on #33
Actually it is compliant: http://legacy.python.org/dev/peps/pep-0249/#connect
[code]

[2016-01-31 02:49] sp1d3rx commented on #33
Look at footnote 1. Only thing not optional is dsn.

[2016-02-01 15:53] peterdemin commented on #55
Thank you! Could please make a pypi release?

[2016-02-02 01:01] denisenkom commented on #55
Can you confirm that this is fixing your issue?  I could not verify the fix.

[2016-02-02 16:33] peterdemin commented on #55
I confirm. There is no more memory leaks with this patch.

[2016-02-03 04:22] denisenkom commented on #55
released 1.8.2

[2016-02-03 04:34] denisenkom commented on #25
Additional options to consider:
https://gitlab.com/m2crypto/m2crypto
https://github.com/trevp/tlslite

[2016-02-03 04:35] denisenkom commented on #25
and that:
https://pypi.python.org/pypi/pyOpenSSL

[2016-03-17 18:28] nullv01d opened #56 "Doesn't support AlwaysOn"
pytds does not support AlwaysOn for high availability ms sql servers.
It would be a great help if the same can be added.

Thank you.

[2016-03-17 18:32] nullv01d opened #57 "fetchall() after UPDATE operation throws pytds.tds.Error"
Hello,

When we call `cursor.fetchall()` after `cursor.execute()` an UPDATE operation, *pytds* throws an exception of type `pytds.tds.Error`.
Shouldn't it throw `pytds.OperationalError`? Because such cases fall under *Operational Errors*?

Thank you.

[2016-03-18 20:52] denisenkom commented on #57
I think it should instead be ProgrammingError:
Exception raised for programming errors, e.g. table not found or already exists, syntax error in the SQL statement, wrong number of parameters specified, etc. It must be a subclass of DatabaseError

OperationalError means: Exception raised for errors that are related to the database's operation and **not necessarily under the control of the programmer

[2016-03-18 21:05] denisenkom commented on #56
pytds currently support HA by using failover_partner parameter: http://python-tds.readthedocs.org/en/latest/pytds.html#pytds.connect

If you specify this parameter pytds will seamlessly switch to failover partner database if primary is not available.

This works well if you have two MSSQL servers in mirroring configuration.

I am not aware about AlwaysOn configuration, how does it work?  How do yo

[2016-03-20 09:43] nullv01d commented on #56
The problem with Database Mirroring is we can't mention multiple secondary (failover partner) servers. Also, multiple databases can't be mirrored at the same time. That's where AlwaysOn helps.

And I'm not entirely sure but since ADODB supprts DSN, adding `MultiSubnetFailover=True` *should* do the trick! Because `MultiSubnetFailover` is what someone has to add to the connection string to use Alway

[2016-03-20 09:47] nullv01d commented on #57
Makes sense. :+1:  So will you be making it throw ProgrammingError in future versions of pytds?

BTW, `pymssql` throws OperationalError for such cases. Don't know what their explanation is. :)

[2016-04-09 03:54] #57 closed

[2016-04-09 17:52] denisenkom commented on #40
done

[2016-04-09 17:52] #40 closed

[2016-04-26 23:57] dellintosh opened #58 "Integration with SQLAlchemy?"
Any plans to add a dialect to tie in with SQLAlchemy?

http://docs.sqlalchemy.org/en/latest/dialects/index.html

[2016-04-30 01:24] denisenkom commented on #15
Added support for TVPs: https://python-tds.readthedocs.io/en/latest/#table-valued-parameters

[2016-04-30 01:24] #15 closed

[2016-04-30 01:26] denisenkom commented on #58
Not at the moment, but there may be in future.  Thanks for registering this issue.

[2016-04-30 01:26] denisenkom commented on #33
Implemented

[2016-04-30 01:26] #33 closed

[2016-06-13 18:54] gfranxman commented on #25
bump.     I'm not a windows user, but I'd really like to use this to help migrate a node app to python which uses a pure javascript implementation that is capable of even active directory authentication.
Their code looks like
var sql = require('mssql');
var cfg = {
  domain: process.env.ADDOMAIN,
  user: process.env.ADUSER,
  password: process.env.ADPASSWD,
  server: dbhost,
  database: dbname,

[2016-09-14 16:09] jmartinez-jobsity opened #59 "cursor._session is None when iterating over cursor directly"
When running something like:

[code]

I'm getting a `'NoneType' object has no attribute 'fetchone'` from the `_session` being None

[code]

For now, the workaround is to iterate over `cursor.fetchall()`, but I think iterating over the cursor directly should not raise that exception

[2016-10-25 14:29] obeleh opened #60 "Error getting results from TSQL statement"
query:

[code]

[code]

Results in `Previous statement didn't produce any results`

However in SSMS (values are different because it's a different server) I get a result:
![image](https://cloud.githubusercontent.com/assets/174411/19690287/8210bdfc-9ad0-11e6-8d2e-c94ed4aec3ad.png)

And with the following hack I can get the results I'm looking for:

[code]

`[u'system', 4987691008, 2605195264, 0.522

[2016-11-02 17:31] jmartinez-jobsity commented on #37
Is there any update about this issue? It's causing me issues when getting big amounts of data

[2016-11-08 20:33] cristianocoelho opened #61 "Bulk insert - copy_to"
I can't seem to make this to work, looking at the code there are two issues.

1- The table name is formatted between "[ ]" which means you can only send dbo tables and not able to specify any schema

2- For some reason all the column types inserted are nvarchar(4000), and this is probably the reason I'm failing at inserting some int and date columns, I keep getting: `OperationalError: Invalid colu

[2016-11-11 19:20] cristianocoelho commented on #61
Figured out the issue, the code always sends nvarchar nullable, if the target table expects a NOT NULL data type, it will crash.

Proposed changes: Find out if column is nullable or not and send the appropriate flag. Also, do not use brackets for the table/view name so schema names can be used.
[code]
A few lines below...

`operation = 'INSERT BULK {0}({1}) {2}'.format(table_or_view, col_defs, wit

[2016-11-14 04:30] denisenkom commented on #61
Should be fixed now
https://github.com/denisenkom/pytds/commit/4c31b9d480ac7004a7f5d39a47d8cc8d65c019c8
https://github.com/denisenkom/pytds/commit/782c935d593c2f314a5ac1f0703fb9a0f68307f4

Thanks for contribution

[2016-11-14 19:03] cristianocoelho commented on #61
Sorry, I have found another issue.
Declaring all values as nvarchar is a bit complicated, since values such as empty strings will be casted to the default float, if the target is a float, or default date, if the target is a date, ignoring the keep_nulls flag.

[2016-11-15 18:18] dirkjonker commented on #60
@obeleh you are getting this error because you have a query that contains multiple statements. Call `cur.nextset()` until you arrive at the result set you are looking for. This is normal behavior.
See also: https://github.com/denisenkom/pytds/blob/master/pytds/__init__.py#L701

[2016-11-20 03:35] denisenkom commented on #37
@jmartinez-jobsity did you use latest version?  Can you upload stack trace?

[2016-11-20 03:51] denisenkom commented on #59
Can you provide full stack trace?  Also can you test it on current tip of master branch?

[2016-11-21 13:25] jmartinez-jobsity commented on #37
[code]

[2016-12-07 17:20] cristianocoelho commented on #25
Any ideas on how to work with this? Azure forces you to use SSL and doing code changes to use SSL doesn't seem to work in any way.

[2016-12-09 03:18] denisenkom opened #62 "ubclrvinebvgbjidvi"

[2016-12-09 03:19] #62 closed

[2016-12-09 03:30] #37 closed

[2016-12-09 03:31] denisenkom commented on #37
Try latest version from master branch.  It has a change that enabled TCP keep alive which should resolve issue with connection timeout.

[2016-12-09 20:55] jmartinez-jobsity commented on #37
Still an issue in the last version (1.8.2):

[code]

[2016-12-09 22:47] denisenkom commented on #37
You should use latest from master branch, not from pypi

[2016-12-12 15:00] jmartinez-jobsity commented on #37
I cannot use the master branch atm, our current setup and data storage won't let me set the conditions under which the bug raises. Let me know when it gets to pypi so I can give it a try. Thanks

[2016-12-14 04:14] denisenkom commented on #37
Can somebody else verify this fix?

[2016-12-28 17:00] wstucco opened #63 "OUTPUT clause returns wrong result set"
when running an `execmany` query that uses the `OUTPUT` clause, only one result is returned.
Example:

[code]

[2017-01-26 15:09] chetmancini opened #64 "getaddrinfo port parameter type on sock open"
Hi, I'm running Django 1.8.7 on Ubuntu, using the master branch of `django-sqlserver` to connect to a remote SQLServer via pytds.

I was using the released 1.8.2, and ran across an issue. I tried copying the master branch and using it directly and I get the same issue.

[code]

I put a print on `(host, port)` on line 282 and both the parameters were there. Guessing there was an issue with the port

[2017-01-26 15:39] DariuszOstolski commented on #64
I wouldn't do, according to documentation it can be a string an integer or None. In your case it seems that this was something different. Could you please provide a connection string that you were using when this error happened?

[2017-01-26 16:00] chetmancini commented on #64
@DariuszOstolski ah it's a `str`/`unicode` bug. I casted to `str()` and it worked too.
I'm using python 2.7.13. `django-sqlserver` has `from __future__ import unicode_literals` turned on.

My host param is coming as a `str` but the port has a get with default `u'1433'` in the wrapper which gets passed directly into `pytds.connect(` on line `1019`, and it seems `getaddrinfo` does not support unicod

[2017-02-04 21:41] tpow commented on #58
It looks like someone already did the work to build a dialect:

https://github.com/m32/sqlalchemy-tds

I was able to use this and connect using code like this:

eng = sqlalchemy.create_engine('mssql+pytds://' + username + ':' + password + '@' + dbserver + '/' + dbname)

[2017-02-07 22:45] jmartinez-jobsity commented on #37
This should be reopened as it is still present on the top of the master branch:
[code]

[2017-02-07 22:48] jmartinez-jobsity commented on #59
Seems to be fixed now

[2017-02-15 01:34] lnattrass commented on #25
It looks like you might be able to do this using Memory BIO in python 3.5+

I needed to print out the certificate from an SQL server, so ended up writing this digusting piece of code:
https://gist.github.com/lnattrass/a4a91dbf439fc1719d69f7865c1b1791

Works for us though..

[2017-02-20 04:44] josePhoenix opened #65 "Cannot fetch results ("InterfaceError: Invalid type id 240")"
I'm trying to use pytds with a Microsoft SQL Server 2012 database containing a table with a column of type `geometry`. Trying to fetch the results of a query including that column results in: `InterfaceError: ('Invalid type id', 240)`. The ID 240 corresponds to the `system_type_id` for the `geometry` and `geography` types in `sys.types`, so I suspect the geometry column is the culprit.

(For what

[2017-02-20 23:58] josePhoenix commented on #65
Further digging turned up https://msdn.microsoft.com/en-us/library/ee320529.aspx

Here's a text version of the Wireshark capture of the response. I have the `pcapng` file as well if that would help.

[code]

[2017-02-21 02:45] josePhoenix opened #66 "DB-API 2.0 places restrictions on types in cursor.description"
I learned while comparing the results of a query with the results from `pymssql` that the `cursor.description` data structure is required to have objects in the second (`type_code`) position in each column tuple that compare equal to certain type objects: https://www.python.org/dev/peps/pep-0249/#type-objects-and-constructors.

For my example query, I `zip()`ed the description attributes of a pyms

[2017-02-21 03:19] josePhoenix commented on #66
Hmm, it looks like equality tests are already customized with `tds_base.CommonEqualityMixin`.

[2017-02-21 15:19] bylsmad commented on #37
I am also able to reproduce this bug with master branch downloaded last week

[2017-03-03 01:44] bylsmad opened #68 "exception thrown NULL value in parameter dictonary for INSERT"
setting a named parameter to NULL results in exception:

cursor.execute("INSERT INTO animals ( animal, wingsize ) VALUES ( 'snail', @nullableParam )", { 'nullableParam' : None } )

pytds.tds_base.OperationalError: Must declare the scalar variable "@nullableParam".

### Eclipse Workspace Patch 1.0
#P qualys-scripts
Index: externallibs/pytds/__init__.py
==============================================

[2017-03-12 15:46] #65 closed

[2017-03-22 13:40] yesdeepakverma commented on #6
I also stuck with the same problem when using MS-SQL -2008 with pytds (using django-sqlserver).
What I ended up using is defining a setting variable in Django setting file say DB_CHAR_FIELD = "varchar"
and then patching django-sqlserver -> sqlserver_ado->base.py with following code.
from django.conf import settings
CHAR_FIELD = getattr(settings, 'DB_CHAR_FIELD', 'nvarchar')
and then-> Old code

[2017-04-04 20:00] javjuarez opened #69 "Add support for TDS 5, Sybase, maybe"
I am having a problem by trying to connect to a database url and port, maybe I'm making it wrong, I try the follow

`with pytds.connect('132.248.205.170:4101', 'act_firma_tit', '#mypassword') as conn:`

and I got this error

`pytds.tds.LoginError: ("Cannot connect to server '132.248.205.170:4101': [Errno 11001] getaddrinfo failed", gaierror(11001, 'getaddrinfo failed'))`

How can I connect correct

[2017-04-04 23:12] javjuarez commented on #69
I made it wrong hehe, now I made this

`with pytds.connect(dsn='132.248.205.170', user='act_firma_tit', password='', port=4101, login_timeout=30) as conn:`

and I got this error

`Empty packet doesn make any sense`

[2017-04-29 17:17] daniloanp opened #70 "Local temporary tables are inaccessibly when passing named parameters"
https://github.com/denisenkom/go-mssqldb/issues/249
The same error present in issue above, in  go driver, is present here.

[2017-05-11 08:30] nichcz commented on #37
+1 facing same error on actual latest version 1.8.2

[code]

[2017-05-22 01:05] sylvainr commented on #58
Just to confirm that `sqlalchemy-tds` works as expected.

[2017-05-30 20:19] VFLashM opened #73 "Passing raw bytes to sql server"
Legacy part of my project pipes raw bytes into sql varchars.
My code is written in python2 and I need to ensure interoperability with that code.

pytds has `bytes_to_unicode` option, but setting it to false does not work as expected.

Example:

[code]

With `bytes_to_unicode=True` (default) I get following result:
[code]

Setting `bytes_to_unicode=False` fails with exception:
[code]

Current imple

[2017-05-30 20:46] VFLashM commented on #73
Okay, I'm apparently using very old version of pytds.

Looking at current source code corresponding changes would be:
1. pass `bytes_to_unicode` to varchar serializers (it can be extracted from `reader/writer._session._login`, but that's ugly)
2. on write only force unicode if `bytes_to_unicode` is true
3. only encode string being written if it's unicode
4. on read decode only if `bytes_to_unicode

[2017-06-04 21:17] denisenkom commented on #73
Sounds reasonable to me.  Is there anything I can help with running test suite?

[2017-06-05 00:04] denisenkom commented on #69
Looks like the thing you are connecting to does not understand TDS protocol.

[2017-06-05 00:10] #59 closed

[2017-06-07 21:49] VFLashM commented on #73
I'll try to make it work sometime next week.

What would be the best way to access `bytes_to_unicode` from serializers?
As of now I just get it through reader/writer->connection->login, it doesn't look very nice.
Should I pass it through constructor (and all factories)?

[2017-06-09 01:31] denisenkom commented on #73
Maybe we need some kind of a Context object which would contain things like that, but that would probably be too much of a refactoring, so I am ok with using reader/writer->connection->login for now, I think this is how other serializers do that currently anyway.

[2017-07-24 18:59] infinitewarp opened #75 "error: unpack_from requires a buffer of at least 8 bytes"
This appears to be a duplicate of #37, but since that issue is closed and doesn't appear to be getting any attention, here I am. If someone reopens #37 and provides a real fix, please close this. 🎉

Using a recent version of master from github source newer than the release in pypi is supposed to resolve this issue, but I _intermittently_ get this error from pytds:

[code]

Usually the first few op

[2017-08-17 02:20] #73 closed

[2017-08-22 22:41] LingboTang opened #77 "gaierror(-2, 'Name or service not known') when try to connect to db"
How I use pytds is like this:

[code]

And I'm getting:

The code snippet works locally because I have set `datahost` in my `/etc/hosts`, but when I running it on docker, even if I manually add the `datahost` to docker using `docker run -i --add-host` before running this test, I still got this error. I know this error is related to the environment, but is there anything else I left? @denisenkom an

[2017-09-08 14:34] infinitewarp commented on #75
I don't know what has changed, but I'm not seeing this error any more. Maybe there was something else funky on my network or SQL Server instance that was somehow borking my connections in a weird way. ¯\\\_(ツ)\_/¯

[2017-09-08 14:34] #75 closed

[2017-09-12 14:49] knedlsepp commented on #69
I'm having the same problem. In my case the explanation seems to be: "pytds does not currently support TDS version 5.0".

[2017-09-12 23:42] denisenkom commented on #69
What version of SQL server do you have?

[2017-09-13 06:54] knedlsepp commented on #69
It's a "SAP ASE version 16.0 SP02 PL06"

[2017-09-14 00:49] denisenkom commented on #69
this driver works only with MS SQL Server, it is not compatible with Sybase

[2017-09-14 13:05] knedlsepp commented on #69
While I get that the version 5.0 of TDS is unsupported, I think it is not unreasonable to assume that pytds *could* support Sybase, as this is basically only the legacy version of MS SQL Server. So I'd like to leave this as a feature request. (Knowing that this request might not be fulfilled in the foreseeable future.)

[2017-10-17 02:28] gabomgp commented on #58
I'm new to Python and I don't know how to use sqlalchemy with pytds passing table valued parameters...¿someone knows a example doing it?

[2017-10-20 19:40] the-hof opened #78 "readonly parameter of connect() doesn't seem to work correctly"
I would expect this to set the applicationintent parameter in the connection string, but I'm not sure how to see the actual connection string and I get this error:

pytds.tds.OperationalError: The target database ('DATABASE') is in an availability group and is currently accessible for connections when the application intent is set to read only.

Is there something else that needs to be done?

[2017-11-04 22:17] denisenkom commented on #78
readonly flag is passed here: https://github.com/denisenkom/pytds/blob/3b9bac7dfaab1070c5202acd912ab8154849d0a7/pytds/tds.py#L1420

You can use Wireshark to verify whether this flag is set correctly.

[2017-11-04 22:19] denisenkom commented on #77
I am not very familiar with docker.  You can try using real host name instead.

[2017-11-04 22:19] #77 closed

[2017-12-05 04:35] denisenkom commented on #25
Initial implementation is available in tls-support branch.  Please take a look. Suggestions welcome!

[2017-12-09 16:44] denisenkom commented on #25
Released version 1.9.0 with TLS support

[2017-12-09 16:44] #25 closed

[2018-01-09 21:43] lostformars opened #81 "callproc returns input parameters instead of output parameters"
callproc returns what should be the procedure's output parameters from self._session.output_params.items(). However, when I call callproc the output contains the unchanged parameters that I send into the procedure.

The procedure below has 2 output parameters and should change the value of the first parameter. If I only send the first parameter then the output only includes the first input paramet

[2018-01-12 01:13] denisenkom commented on #81
You need to declare output parameter properly, see example: https://github.com/denisenkom/pytds/blob/master/tests/all_test.py#L478

[2018-01-12 01:13] #81 closed

[2018-01-23 04:54] radyz opened #82 "TLS EncryptedSocket timeout error"
I'm been trying to get TLS to work with SQL in Azure. I ran into this issue when I pass in:
[code]
Then the following error rises:
[code]
I tracked it down and it looks like all references to `gettimeout` and `settimeout` are being done against the EncryptedSocket object rather than the transport property. I added pass through methods to avoid breaking further code but that seemed to correct the e

[2018-01-23 20:41] #82 closed

[2018-01-25 17:17] ahmedpopal456 commented on #25
Hello :); I had a quick question; was trying to connect to a Microsoft SQL Server on Azure using the newest version of pytds, which supports TLS; I was wondering if there was a way to enable encryption on the client side (Error: Client does not have encryption enabled but it is required by server, enable encryption and try connecting again)

[2018-01-26 05:25] denisenkom commented on #25
you need to specify cafile parameter for connect function: https://python-tds.readthedocs.io/en/latest/pytds.html#pytds.connect

[2018-01-26 09:05] eydelrivero commented on #25
Documentation says `cafile` is the

, but where can I get that file name from? Do I need to download a certificate? Can you elaborate with an example? I'm trying to use pytds to connect to an Azure SQL database.

[2018-01-26 10:46] eydelrivero commented on #82
Hi @radyz , I'm trying to connect to an Azure SQL database too using pytds. Where can I get the certificate to pass on the `cafile` parameter? I've been using a certificate I downloaded using `openssl s_client -showcerts -connect <host>:443 </dev/null 2>/dev/null|openssl x509 -outform PEM >dbcertfile.pem` but no luck so far. It fails saying `Error: [('SSL routines', 'tls_process_server_certificate

[2018-01-26 14:53] radyz commented on #82
I managed to connect with
[code]

[2018-01-26 16:01] eydelrivero commented on #82
Thanks @radyz for your response! I was able to find that the specific certificate needed is Baltimore CyberTrust Root. Don't know if it is specific for this case or can be applied in other situations.

[2018-01-27 15:13] denisenkom commented on #82
By setting validate_host=False you make yourself vulnerable to MitM attack.  Anyone can generate valid certificate using Let's Encrypt or similar service.  Such certificate would pass validation if host validation is disabled.
So why have you disabled host validation?

[2018-01-27 15:28] denisenkom commented on #25
I think there should be a download link somewhere at Azure control panel.  First place I would check is connection string suggested by Azure, it might have a link to the root certificate.

[2018-01-28 16:16] eydelrivero commented on #82
Hi @denisenkom ! If I use `validate_host=True`, the same certificate no longer works. It trows
`Exception: Certificate does not match host name 'redacted_host_name.database.windows.net'`
when trying to connect. Any thoughts on how to make it work with `validate_host=True`?

[2018-02-06 21:14] ahmedpopal456 commented on #25
Yes, I did find the link to the certificate ! Now, I guess copying the file to the VM and pointing the path to the cafile attribute should be enough?

[2018-02-07 18:03] ahmedpopal456 commented on #82
I can't get it to work with validate_host=False either... I get an error with an empty error stack in line 349 of init (using Baltimore with validatre_host=False)

[2018-02-08 11:51] eydelrivero commented on #82
Hi @ahmedpopal456 , have you tried installing pytds package from the master branch instead of using the latest release 1.9.0? In my case I had to do so because of the bug in this thread.

[2018-02-08 15:21] ahmedpopal456 commented on #82
Will try to do that now ! @eydelrivero will let you know what the results are ! Kudos

[2018-02-10 02:27] denisenkom commented on #82
New version is uploaded to pypi - 1.9.1 with a fix, kudos to @radyz

[2018-06-15 11:21] thihara opened #84 "Bulk Insert failing due to incorrect column types"
I was trying to use pytds to write some data to Azure SQL Datawarehouse.

The write operations failed and upon closer inspections it appears to be because pytds sets all types as NVARCHAR(4000)

We need to allow custom metadata (column definitions) to be passed along defining the proper types.

[2018-06-15 11:29] thihara commented on #84
I have submitted a pull request for a new method named bulk_insert that accepts data as python objects directly.

The column definitions (metadata) will need to be provided manually since it doesn't look like there's a way to detect the column types from the description field. At least not for SQL Datawarehouse on Azure.

[2018-06-16 03:55] thihara opened #86 "Azure SQL Datawarehouse Connection Fails For TDS74 (TDS Version 7.4) on Linux"
Encounters the following error when trying to connect to Azure SQL Datawarehouse.

`unknown env type: 20, skipping
Traceback (most recent call last):
  File "/home/thihara/.local/lib/python3.6/site-packages/pytds/tls.py", line 61, in recv
    return self._tls_conn.recv(bufsize)
  File "/home/thihara/.local/lib/python3.6/site-packages/OpenSSL/SSL.py", line 1783, in recv
    self._raise_ssl_error(se

[2018-07-27 01:36] denisenkom commented on #86
I don't think the "unknown env type: 20" is causing this problem.  Can you provide full stack trace?

[2018-07-27 01:46] denisenkom commented on #86
Also please change log level to DEBUG and send me logs.  Don't post them here, they may contain sensitive information.

[2018-07-27 02:43] #78 closed

[2018-07-27 02:45] denisenkom commented on #69
I believe Sybase TDS is too different at this point from MSSQL TDS.  I think Sybase should be supported by separate driver.

[2018-07-27 02:45] #69 closed

[2018-07-27 02:47] #64 closed

[2018-07-27 02:47] #60 closed

[2018-07-27 02:48] #39 closed

[2018-07-27 02:49] denisenkom commented on #42
I will close this one, if you still need this, you can create a pull request.

[2018-07-27 02:49] #42 closed

[2018-07-28 01:19] denisenkom commented on #86
Try latest version from master branch.  It implements routing feature of TDS 7.4 protocol.  I think lack of this feature was causing disconnection in your case.

[2018-07-28 01:30] denisenkom commented on #56
It is now added in commit: https://github.com/denisenkom/pytds/commit/7c9b73ea101b1cdcb7a48a7514f6cd76afe3942b

[2018-07-28 01:30] #56 closed

[2018-07-28 01:36] #61 closed

[2018-07-28 01:44] denisenkom commented on #63
executemany should not be used with queries which produce result sets.  According to spec this results in undefined behavior: https://www.python.org/dev/peps/pep-0249/#executemany

[2018-07-28 01:44] #63 closed

[2018-08-15 13:47] LHCGreg opened #87 "Bulk copy fails if destination column is a SQL keyword"
If a destination column in a bulk copy using `copy_to` is a SQL keyword such as User, the operation fails because the INSERT BULK statement becomes invalid.

I'll create a PR with a fix in a minute.

[2018-08-15 21:47] #87 closed

[2018-08-17 21:03] LHCGreg opened #89 "Unit tests fail when you are running SQL Server locally"
Some unit tests create a socket that listens on port 1433. If you also have SQL Server running, not an unlikely possibility for someone running pytds unit tests, those tests fail.

PR incoming.

[2018-08-17 22:22] LHCGreg opened #90 "Large decimal values result in errors if the ambient decimal context does not have a high enough precision"
Discovered this as a result of some decimal-related tests in connected_tests.py failing if running only the tests on connected_tests.py, not all the tests, using `pytest tests/connected_test.py`. all_test.py sets `getcontext().prec = 38`, which gets run before connected_tests.py if you are running all the tests, but does not get run if you are running only the tests in connected_tests.py. pytds sh

[2018-08-17 22:36] LHCGreg opened #91 "Result sets with multiple rows of [n]varchar(max) values return incorrect values"
If a result set has three rows of nvarchar(max) values, 'foo', 'bar', and 'baz', then the values returned are 'foo', 'foobar', and 'foobarbaz'.

PR incoming.

[2018-08-17 22:57] LHCGreg opened #92 "Error when bulk inserting [n]varchar(max) values"
If you try to bulk insert varchar(max) or nvarchar(max) values, you get the following error:

[code]

PR incoming.

[2018-08-17 23:55] LHCGreg opened #98 "Occasional failure of test_invalid_ntlm_creds due to timeout"
Not sure if this is indicative of a real problem or not, but I get occasional failure (maybe 50% of the time) of test_invalid_ntlm_creds due to a socket timeout. Debugging into it I found the timeout seemed to be 1.2 seconds which seems awfully short?

[code]

[2018-08-17 23:56] LHCGreg opened #99 "Warning in unit tests due to helper class starting with "Test""
[code]

Could be fixed by renaming the TestServer class to something else.

[2018-08-18 03:14] #89 closed

[2018-08-19 20:30] #84 closed

[2018-08-21 00:39] #90 closed

[2018-08-21 00:53] #91 closed

[2018-08-21 02:41] LHCGreg commented on #98
Windows 10, SQL Server running on the same machine. None of the other tests ever give me connection errors.

[2018-08-21 18:34] LHCGreg commented on #98
I could not get it to happen today. It might only happen when on VPN. I'll test again next time I work from home.

[2018-08-24 15:35] amachanic opened #102 "Support for Kerberos tokens?"
I'm trying to use pytds on Linux, in conjunction with a Kerberos token for integrated authentication. I tried instantiating SspiAuth as on Windows, but I get an error when it attempts to import WINFUNCTYPE.

Not sure if I'm missing something or if this is completely unsupported. Is there any existing way to get this working? If not, any chance of an enhancement along these lines?

Thank you!

[2018-08-25 00:10] denisenkom commented on #102
Currently Kerberos support is not implemented on Linux.  I may be able to look into that but I would need help with testing.  Would you be able to help with that?

[2018-08-26 16:11] denisenkom commented on #102
I pushed POC code into separate branch: https://github.com/denisenkom/pytds/tree/kerberos-support

To test you would need to install kerberos package:
pip install kerberos

To connect using Kerberos modify your connect call as specified in below example:
connect(..., auth=pytds.login.KerberosAuth('MSSQLSvc/yourserver:yourport'))

If this does not work send me logged output.

[2018-08-26 21:02] amachanic commented on #102
I did some research on the kerberos module usage and found that the following form is recommended in most places:

MSSQLSvc@server

... where "server" is a FQDN. Doing this got me past the initial error, and now I'm hitting a new one:

"...python_tds-1.9.0_112_g55a7-py3.6.egg/pytds/login.py", line 178, in handle_next
TypeError: argument 2 must be str, not bytes

I'll keep messing around with it.

[2018-09-01 14:17] denisenkom commented on #102
I pushed improved version.  Please test it.  To connect use following:
connect(..., use_sso=True)

[2018-09-08 16:11] denisenkom commented on #99
Renamed

[2018-09-08 16:11] #99 closed

[2018-09-18 12:11] ikzelf opened #104 "during network failure a socket.timeout: timed out occurs instead of a pytds.OperationalError exception"
it would be far more convenient to always return a  pytds exception. In other drivers for the same kinds of errors an OperationalError is returned, making it far simpler to catch errors. After all, for some reason the  communication with the database fails. That is is caused by a socket timeout can be added to the exception text.

[2019-01-08 01:21] tpow opened #105 "Reference SQLAlchemy in readme"
In #58 there were comments about a SQLAlchemy dialect for pytds. It might be nice to mention https://github.com/m32/sqlalchemy-tds in the readme like the Django backend.

Tim

[2019-02-18 06:57] AnilChandore commented on #25
@ahmedpopal456 did it work? If yes then, can you please share how did you download the pem file and what it contained?

[2019-02-21 05:41] sudo-shubham commented on #25
@ahmedpopal456 Can you share how did you get the cafile?

[2019-07-10 06:04] thihara opened #106 "Azure SQL Datawarehouse OpenSSL.SSL.WantReadError"
We suddenly started receiving OpenSSL.SSL.WantReadError a few days back.

We didn't update our code.

Something must have changed in the Azure SQL Datawarehouse infrastructure.

This is the debug output and the error. The TLS handshake is failing.

[code]

[2019-07-10 06:07] thihara commented on #106
I should add the go-mssql is working perfectly fine.

We tested pyodbc and it seems to be working as well.

[2019-08-13 21:28] FelixQuehl opened #107 "Support for Instance Name and Port"
**TL;DR: can't use pytds because no support for instance name + port ?**

# Story

Hello Everyone,

at first I want to thank the contributors for providing this package, I think it is a important tool for the python universe.
I really was looking forward to use it for a ETL tool. I was attempting a bulk upsert using stored procedures and table-valued parameters (TVP).

## Details

I implemented an

[2019-09-06 00:53] denisenkom commented on #107
AFAIK instance name is used to determine port.  Since you already know the port you can just use it to connect.
So why do you want to provide instance name?

[2019-09-06 01:14] denisenkom commented on #106
@thihara I added debugging output: https://github.com/denisenkom/pytds/commit/f647be63d8a946c0686897c058a979273676d00b
Can you try with that and send me the resulting output?

[2019-09-08 18:59] #107 closed

[2019-09-10 20:45] FelixQuehl commented on #107
@denisenkom I tried to connect to the database by just using the instance name and it was not working. So I would say that the explicit port is necessary within the connection string when using a instance name along with a static custom port.

[2019-09-11 00:53] denisenkom commented on #107
Yes, if you have port, you can connect to it without instance name.

[2019-09-18 01:51] allaboutmikey opened #108 "Named Parameter substitution broken by wildcard"
When trying to use a parameterized query that also has a wildcard in it, the _execute method fails when handling parameter substitution.
The failure is on line 632 of \_\_init\_\_.py which reads:
`operation = operation % rename`
I don't know what this step is trying to achieve, as there are no conversion specifiers in the operation string. Maybe if I were using format or pyformat parameter style,

[2019-09-20 00:21] denisenkom commented on #108
Try:
[code]

[2019-09-20 00:23] denisenkom commented on #108
Also take a look at this: https://www.python.org/dev/peps/pep-0249/#paramstyle

[2019-09-23 04:57] allaboutmikey commented on #108
Thanks, I looked there originally when I was trying to figure out which paramstyle to use. For some reason I can't recall, I had trouble with the standard way and somewhere saw an example of someone using tsql format for parameters (WHERE name=@name). This has been working well for me till I got to this issue. Now that I re-read the code with pyformat in mind, I can see what the line is for.
Obvio

[2019-09-23 06:34] allaboutmikey commented on #108
Can confirm that %% works both with pre-formatted operation string with @name parameters and proper %(name)s pyformat parameters.
Not sure why I was having trouble with pyformat style before, but must have been doing something else wrong back then.
Any chance we can put in handling for this?
`operationstring = re.sub(r'%(?!\()','%%',operationstring)`
ie: replace all % with two if not followed by a

[2019-09-24 00:38] denisenkom commented on #108
No, I don't think it would be a good idea to do such replacement.  This would be non-standard and non-backward-compatible behavior.

[2019-09-25 00:08] allaboutmikey commented on #108
I couldn't find any mention of the requirement to use double % in queries in the pep you linked to above. Where is this standard documented? I agree that the regex I provided would be non backward compatible, but it is easily modified to also leave existing %%s alone.
Without looking at the code inside the db module, it's wasn't obvious to me that there was a % string substitution happening, so I

[2019-09-25 23:38] denisenkom commented on #108
Pyformat is documented here: https://docs.python.org/2/library/stdtypes.html#string-formatting

[2019-09-25 23:58] allaboutmikey commented on #108
Thanks for that link, I have looked there before. As in said previously, I didn't realise that dbapi just used string interpolation. I've had it in my head that the mechanics were different even thought the formatting is the same. Perhaps that was a limitation of a  specific implementation. I'll close the issue because I'm just nit picking now. Thanks to your help, my original issue is solved. Gre

[2019-09-25 23:59] #108 closed

[2019-10-03 19:00] eydelrivero commented on #106
Hi @denisenkom ! I have the same problem as the OP. I tried with the new code and here is the debugging output. At the end, it raises again the same error `OpenSSL.SSL.WantReadError`

[code]

[2019-12-18 18:08] tarper24 commented on #106
@denisenkom I am also experiencing this issue when trying to connect to Azure Data Warehouse.
I added some additional try excepts to the code (pulled master branch) to add additional logging around the error

Here is the change I made:

[code]

Here is my logging output:

[code]

[2019-12-18 18:12] tarper24 commented on #106
@denisenkom I'm also getting this when trying to connect to Azure's Data Warehouse.

I'm willing to help debug it

[2019-12-21 00:23] denisenkom commented on #106
Would you be able to capture Wireshark dump and send it to me together with logging output from the Python?

[2019-12-21 00:30] tarper24 commented on #106
Sure! I'm away from my office for the next week, and can't access our Azure
services, but I'll do that when I get back in!

On Fri, Dec 20, 2019 at 6:23 PM denisenkom <notifications@github.com> wrote:

[2019-12-21 00:31] denisenkom commented on #106
Also which version of pyOpenSSL do you use?  If it is not the latest one, try upgrading it.

[2020-01-01 20:07] tarper24 commented on #106
I uploaded the logs and Wireshark dump as a gist here: https://gist.github.com/tarper24/cc65bbcf57cf14ffd7af663bb7aa0f05

I used the latest pyOpenSSL: 19.1.0

[2020-01-03 17:19] tarper24 commented on #106
@denisenkom After some messing around with the tls code some more, I was able to connect to Azure DW. Below is a diff with the change I made locally, along with the logs from running. I also connected to a regular MS SQL Server to test that this change wouldn't, necessarily, break them.

This is the code I changed that got it to work:
[code]

I just told it to ignore the subsequent WantReadError i

[2020-01-08 01:08] denisenkom commented on #106
Can you raise a PR with your change?  Also in the exception handler can you add a comment referencing this issue: https://github.com/pyca/pyopenssl/issues/887?

[2020-01-13 16:01] tarper24 commented on #106
@denisenkom sorry for the wait! I made the PR here: https://github.com/denisenkom/pytds/pull/110

[2020-02-12 14:34] tpow opened #111 "New release?"
The latest release was way back in Feb 2018. It would be nice to bundle up all the fixes that have been made since then.

Thanks!

[2020-02-22 22:06] denisenkom commented on #111
Released a 1.10.0

[2020-02-22 22:06] #111 closed

[2020-03-19 14:43] NNDBA opened #112 "tds.py line 1519 info message 'Got LOGINACK' causes runtime error"
When connecting to a SQL Server 2017 database, we get this error, which is caused by a logger.info message. The work-around is setting the logging level to WARNING.

  File "/var/task/pytds/tds.py", line 1520, in process_login_tokens
    self.conn.tds_version, self.conn.product_name, product_version)
  File "/var/lang/lib/python3.6/logging/__init__.py", line 1308, in info
    self._log(INFO, msg,

[2020-03-25 11:10] bacchilu opened #113 "lastrowid or alternative"
Is there a way to get the inserted ID after an INSERT? Something equivalent to the _lastrowid_ field, that is not available in this library.

[2020-04-12 21:02] #106 closed

[2020-04-12 21:12] denisenkom commented on #113
You can use @@identity or SCOPE_IDENTITY(): https://blog.sqlauthority.com/2007/03/25/sql-server-identity-vs-scope_identity-vs-ident_current-retrieve-last-inserted-identity-of-record/

[2020-04-26 15:06] jaj42 opened #114 "pytds cannot handle large query results"
I am working with a large database with high frequency data and I regularly do queries that return large results. I found that above a certain threshold (somewhere above 120 kB), pytds fails with : pytds.tds_base.ClosedConnectionError: Server closed connection
By querying different tables I found out that it does not seem to be related to the number of lines returned but the size of the data.

Her

[2020-05-04 14:24] quinox commented on #114
I ran into the same problem, see #115 for my fix (but no promises that my fix is correct!)

[2020-10-04 09:20] LeonKarabchevsky commented on #75
I'm also getting this error in v1.9.1:
"An error has occurred | error:unpack_from requires a buffer of at least 4 bytes
results = cur.fetchmany(batch_size)\n', '  File "/usr/local/lib/python3.7/site-packages/pytds/__init__.py", line 786, in fetchmany\n    row = self.fetchone()\n', '  File "/usr/local/lib/python3.7/site-packages/pytds/__init__.py", line 771, in fetchone\n    row = self._session.fet

[2020-10-04 09:22] LeonKarabchevsky opened #116 "An error has occurred | error:unpack_from requires a buffer of at least 4 bytes"
I keep getting this error randomly in v1.9.1:

"An error has occurred | error:unpack_from requires a buffer of at least 4 bytes
results = cur.fetchmany(batch_size)\n', ' File "/usr/local/lib/python3.7/site-packages/pytds/init.py", line 786, in fetchmany\n row = self.fetchone()\n', ' File "/usr/local/lib/python3.7/site-packages/pytds/init.py", line 771, in fetchone\n row = self._session.fetchone()\

[2020-10-24 00:51] darren-martz opened #117 "logging module"
I have found it difficult to manage the logging output of pytds. A simple line change in pytds.py would help from the following:

`logger = logging.getLogger()`

changed to

`logger = logging.getLogger('tds')`

This change would allow the following to work, where today this is ignored and the logs fill with every INFO statement.

`logging.getLogger('tds').setLevel(logging.ERROR)`

A workaround I u

[2021-01-19 22:25] niconil commented on #117
i can just confirm the same issue here.

in pytds/src/pytds/tds.py#L15
just replace :
logger = logging.getLogger()
by
logger = logging.getLogger(__name__)

this will allow projects that use this module to manage the log messages from pytds

[2021-02-01 14:46] jholladay10 opened #118 "Named Parameters, NULL handling and RAISERROR"
I'm sending multiple statements using the named parameters mechanism.  I like to use RAISERROR, which does sprintf substitution.  So my %d in my RAISERROR statement is tripping up the operation % rename in pytds.

It also looks like the code is attempting to get around not being able to infer the type from the parameter values if the value is NONE.  Unless I'm missing something, my named parameter

[2021-02-01 16:07] jholladay10 commented on #118
I now see that it should be possible to pass a Column object in as a value.  Is that the intended solution?

[2021-02-08 20:12] shubha-rajan opened #119 "feature request: allow passing in socket to connect function"
Hi, I'm one of the maintainers of the Google [Cloud SQL Python connector](https://github.com/GoogleCloudPlatform/cloud-sql-python-connector), and we're trying to add support for using pytds to connect to Cloud SQL instances. This would require using a socket that's wrapped in a custom SSL context. The easiest way to do this would be to allow passing in a socket argument to the connect function.

[2021-03-22 04:34] allaboutmikey opened #121 "Fail inserting a varbinary value"
With the following table structure, I am seemingly unable to insert image data into the ppe_image field:
[code]
The code looks like:
[code]
and the error is:
[code]
Fair enough that it can't infer a type from bytes, but can it not get type info from the database column directly?
Failing the inference, I thought I'd just specifiy the type myself. The tds_types code seems to have types for varbinary

[2021-03-23 19:05] shubha-rajan commented on #119
Hi @denisenkom any updates on when we can get the patch merged?

[2021-04-07 21:49] slarrain commented on #50
What would the solution to this problem be? (Besides fixing the data on the table).

[2021-04-11 20:56] denisenkom commented on #50
First you would need to figure out the actual encoding.  Once you know the encoding you would have a number of options.  One option is to read data as varbinary and then decode it using correct encoding.

[2021-04-11 21:17] denisenkom commented on #121
You should pass `bytes` object instead of `BytesIO` object.  Try this `cur.execute("insert into ppe_types (ppe_type, ppe_image) values (%s, %s)", (args.image_name, output.getvalue()))`

[2021-04-14 00:20] #119 closed

[2021-04-21 05:49] allaboutmikey commented on #121
So I made that change:
`
image=Image.open(args.image_path)
with io.BytesIO() as output:
    image.save(output, format="jpeg")
    with pytds.connect(dsn='removed', as_dict=True) as conn:
        with conn.cursor() as cur:
            cur.execute("insert into ppe_types (ppe_type, ppe_image) values (%s, %s)", (args.image_name, output.getvalue()))
`
The error is now:
`
Traceback (most recent call las

[2021-04-22 07:49] Nebukadneza opened #122 "Request: New Release"
Hi,

thanks for this great project! Given the recent fix of #115 which is a quite critical "short read" bug, I think that many users would profit from the severely increased correctness and reliability this brings.

Would that warrant a new release soon?

Thanks! ^_^

[2021-04-28 06:18] allaboutmikey commented on #121
I have brute forced the query to get my work done, but it is a bit ugly!
Code is modified to:
[code]
which works, but is obviously not properly parameterised.
I still haven't been able to figure out how to get plain bytes into a parameter. :(

[2021-05-02 17:34] denisenkom commented on #122
released: https://pypi.org/project/python-tds/1.11.0/

[2021-05-02 17:34] #122 closed

[2021-05-02 17:46] denisenkom commented on #121
You would also need to wrap your bytes value with `pytds.Binary`, here is example: https://github.com/denisenkom/pytds/blob/master/tests/types_test.py#L124

[2021-05-03 07:27] Nebukadneza commented on #122
Thank you! This helps us a lot …

[2021-05-03 23:44] allaboutmikey commented on #121
Ah ha! The wrapping thing is what I was looking for.
That's working perfectly now with all my ugly kludges removed.
Thanks for your input.
BTW I've said it before, but this is a great module! Well done on writing it.
This would be a useful addition to the documentation IMHO. Is there a way I can help adding it?

[2021-05-03 23:44] #121 closed

[2021-05-07 18:32] denisenkom commented on #121
Thanks, here is information about docs:
Source for documentation is here https://github.com/denisenkom/pytds/tree/master/docs, rendered docs can be seen here https://github.com/denisenkom/pytds/tree/master/docs.  You can start by adding that after Table Valued Parameters section.

[2021-05-08 18:08] jdiaz-merkle opened #123 "Unable to process TVP when 1st row contains null on varchar"
Hello,

We are running the code below in Python (3.8) using pytds version 1.11.0 and I am receiving the error message "`pytds.tds_base.OperationalError: The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Table-valued parameter 5 (""), row 2, column 6: Data type 0xE7 has an invalid data length or metadata length.`"

Looking at the error it seems that co

[2021-05-11 12:53] allaboutmikey commented on #113
My favourite solution to this problem in postgres was to use the "returning" keyword.
I just discovered last week that TSQL has an "output" keyword that does basically the same thing.
From my recent code:
[code]
You read the results back just like data returned from a normal select query.

The "output" keyword is a much more robust solution, IMHO, than the various "last generated id" calls you can

[2021-05-18 22:06] ghost opened #125 "__name__ missed at getLogger in tds.py"
Current version of tds.py has that code on line 15

logger = logging.getLogger()

It is better to add '__name__' here, like that

logger = logging.getLogger(__name__)

Asking because I can change logging level for all modules in that package, except tds.py

logging.getLogger('pytds').setLevel(logging.ERROR)

[2021-05-31 17:49] vcenturionmerkle opened #126 "Consider message_id 976 when connecting to a secondary node in always on"
Although AlwaysOn Availability Groups is NOT supported, I believe we should add the message_id 976 ("_The target database, '%.*ls', is participating in an availability group and is currently not accessible for queries. Either data movement is suspended or the availability replica is not enabled for read access. To allow read-only access to this and other databases in the availability group, enable

[2021-06-07 23:50] #126 closed

[2021-06-09 12:31] niconil commented on #125
Duplicate of #117

[2021-06-18 17:07] naresh561 opened #128 "Problem With Rowcount while trying to insert"
I have a sp

ALTER PROCEDURE [tims].[sp_select_Test2] @Test [tims].[TestTableType] READONLY
AS
    BEGIN
        INSERT INTO tims.test
        (
            Code,
            Text,
            Type
        )
        SELECT Name,
               Name,
               ID
        FROM   @Test

    END;
I have this code

   def executeSP(self, SPName, params=[]):
        with pytds.connect(self.server,

[2021-06-18 19:07] naresh561 commented on #128
I found that in tds.py Line number 721
[code]
is causing the issue

[2021-10-05 17:48] airdrik commented on #102
I can also confirm after using 1.11.0 for several months now, the use_sso=True feature works to integrate with our kerberos authentication.
Thank you!

[2022-04-21 09:39] aersamkull opened #133 "Things to document / Compat with pyodbc"
Hi there
Thanks for this great library! I did use it in a project where I used pyodbc before and there are some non-obvious things I think you should document. I must say however that I am relatively new to python database related stuff.

At first pyodbc has some nice extensions to the DB API I think you should consider, mostly this one: https://github.com/mkleehammer/pyodbc/wiki/Features-beyond-t

[2022-05-25 03:47] hardiksondagar opened #134 "Connection reset error"
For some queries, it is resetting connection in read package method. Same query works in `pymssql` and `pyodbc`.
[code]

[2022-05-25 03:52] hardiksondagar commented on #134
Reducing `blocksize` from 4096 to 1024 in pytds.connect, fixes the issue.

[2022-05-25 04:30] hardiksondagar commented on #134
One more interesting finding is, this issue comes only when query length is more than 600 characters. Weird

[2022-06-01 08:41] aersam opened #135 "Feature Request: Support for token based Authentication for Azure SQL"
Support supplying a token is needed for Azure Managed Identity and the like

Docu for possibilities with the official .Net Driver: https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver15#setting-azure-active-directory-authentication

Not sure how complicated the implementation is. I hope that it's possible to do this without having to us

[2022-06-01 10:43] aersamkull commented on #135
Docu for Pyodbc (slightly outdated as it references the old ADAL Library and not MSAL): https://github.com/AzureAD/azure-activedirectory-library-for-python/wiki/Connect-to-Azure-SQL-Database

[2022-06-01 10:56] aersamkull commented on #135
A note to myself: Code used in the .Net Driver:

TDS Info: https://github.com/dotnet/SqlClient/blob/main/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParser.cs#L2287
https://github.com/dotnet/SqlClient/blob/main/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/SqlInternalConnectionTds.cs#L2118 Somehow get a token via https://github.com/dotnet/SqlClient/blob

[2022-06-02 08:51] takoau opened #136 "readonly=True is not working"
Pull request is [https://github.com/denisenkom/pytds/pull/138](https://github.com/denisenkom/pytds/pull/138)

1.  Currently readonly flag does not work on AG database.  The type flag is not correct.  It should be 2<<4 instead of 2<<5.
 if login.readonly:
            type_flags |= (2 << 5)
        w.put_byte(type_flags)

2.  Secondly readonly flag not working for SSPI authentication.  Socket connec

[2022-06-03 12:45] davidhozic opened #137 "TableValuedParam - OperationalError when row with null attribute is followed by a row with non null attribute"
When using ` pytds.TableValuedParam` and `cursor.callproc`,
if a row with a null atrribute inside the table is folowed by a row with a non null value for the same attribute, the remote procedure call will return the following error:
[code]
This error is avoided if the non null attribute row appears before the null one

[2022-07-18 12:20] ecly commented on #136
@denisenkom we're struggling with this same problem, and @takoau 's PR: https://github.com/denisenkom/pytds/pull/138 fixes it.

[2022-07-18 12:52] takoau commented on #136
@ecly I'm struggling with codecov.  Is there anything I can do to make it pass?  I have no knowledge on what codecov is.  I am a database admin not a dev.

[2022-07-18 13:42] takoau commented on #128
@naresh561
[MS-TDS: DONEPROC](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-tds/65e24140-edea-46e5-b710-209af2016195)

The DONE_COUNT flag in DONEPROC message is 0, simply states that bulk insert does not returns a row count, so it's natural to have -1 as return value.
0x10: DONE_COUNT. The DoneRowCount value is valid. This is used to distinguish between a valid value of 0 for Do

[2022-08-08 14:20] sam2332 opened #140 "SSPI not working in linux due to WINFUNTYPE import"
https://github.com/denisenkom/pytds/blob/7c73812444dd3c38c893dd88d14e138908069bd0/src/pytds/sspi.py#L2

This line is giving errors on linux systems due to usage of winctypes, is there anyway to migrate to a flow that does not use the windows only types?

[2022-08-09 09:05] akachroo762 commented on #117
Any update on this?? Can we merge the PR associated with the issue. All the info logs are getting in the root and there is no way to stop them at the moment. This simple change would resolve that

[2022-08-17 09:45] dmlundeby commented on #25
I see this thread is old, but I also had troubles specifying the `cafile`. However, I found the following solution to work for me:

I'm trying to access a MSSQL DB in Azure. It turns out its certificate is trusted by Mozilla. Thus, I could use the `certifi` package, and use `certifi.where()` as `cafile`. I also needed to set `validate_host` to `False`.

[2022-08-29 04:05] takoau commented on #140
@sam2332 can you upload the error?

[2022-08-30 00:10] takoau commented on #140
@sam2332 Why not use Kerberos as you login from Linux?
[Active Directory authentication for SQL Server on Linux](https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-active-directory-auth-overview?view=sql-server-ver16)

[2022-09-23 14:25] yaraslaublonski opened #141 "Cannot connect to GCP CloudSQL MSSQL using sqlalchemy-pytds"
I have following code which saves dataframe to the place where connector is watching
[code]
Connector has this methods to be able to connect to cloud sql database

[code]

[code]
It gives me this traceback and I don't know what to do. I haven't found any information in google and **sqlalchemy-tds**. Looks like it's a bug in **pytds** library, but I haven't found a solution for it

[2022-10-12 15:56] j1yuan opened #142 "copy_to gets IndexError: list index out of range"
I am using the latest version (1.11.0).

The target table is created by:
[code]
In my code, I create the CSV file on the flight, then, use the copy_to() function to load.
[code]
It is run on a linux server, and the error message is
`IndexError: list index out of range`

I wonder if someone can help me?

[2022-10-12 16:12] j1yuan commented on #142
Here is everything that I can see on the terminal screen:
[code]

[2022-10-13 10:43] j1yuan commented on #142
I realized that I need to create Column objects and use them in the columns parameter. I'll close this issue.

[2022-10-13 10:43] #142 closed

[2022-10-13 10:50] j1yuan opened #143 "Need help with flags"
I am trying to use the copy_to() function, and I don't know how to supply the right values in the "flags" field in preparation of the Column object. Here is my code:
[code]
The error message is:
[code]
I wonder if anyone can show me a few examples to set the right values in the "flags" field?

[2022-10-15 12:23] yaraslaublonski commented on #141
Fixed. The issue was that user hadn't got permissions to write to the database. Unfortunately, this info cannot be retrieved from the error.

[2022-10-15 12:23] #141 closed

[2022-10-31 03:35] takoau commented on #143
@j1yuan  You should use pytds.tds_types.BigIntType() instead of INT8TYPE, and SmallDateTimeType() instead of DATETIM4TYPE, etc.

[2022-10-31 03:39] takoau commented on #143
@j1yuan and for flag, you may use the following values:
fNullable = 1
fReadWrite = 8

[2022-10-31 16:26] j1yuan commented on #143
I need the columns to be "not nullable". It feels that the fNullable flag would allow null. How can I specify a "not nullable" flag?